{% extends 'base.html' %}

{% block content %}
  <div class='container row' style="margin:100 auto;">
    <div class="col-md-5" style="margin:0 auto;">
      <img src="{{ movie.poster_path }}" class="align-items-center" style="width: 30rem;" alt="movie image">
      <hr>
      <h5 style='font=weight: bold'> {{ movie.title }}</h5><br>
      <p>GENRES : {{genres}}</p>
      <p>RELEASED AT : {{ movie.release_date }}</p>
      <p>SCORE : {{ movie.vote_average }}</p>
      <p>{{ movie.overview }}</p>
      <hr>
      <a href="{% url 'movies:index' %}">
        <button type="button" class="btn btn-primary">GO TO MOVIE INDEX</button>
      </a>
    </div>
  </div>
{% endblock content %}
