<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-bind:placeholder="message" />
      <hr />
      <button v-on:click="reverseMessage">click</button>
      <hr />
      {{username}}<br>
      <input type="text" v-model="username" />
      <hr />
      <p v-if="visible">보이나요?</p>
      <button type="button" v-on:click="visible = true">visible</button>
      <hr />
      <ul>
        <li v-for="item in items">{{ item }}</li>
      </ul>
    </div>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            message: "값을 입력해주세요!",
            username: "짐코딩",
            visible: false,
            items: ["사과", "포도", "딸기"],
          };
        },
        methods: {
          hello() {
            alert("Hello~!");
          },
          reverseMessage() {
            this.message = this.message.split("").reverse().join("");
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
